.login-container {
  height: 100vh;
  display: flex;
}

.login-image {
  width: 50%;
}

.login-banner-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.login-form-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.login-form {
  width: 450px;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.login-logo {
  height: 100px;
}

.signin-title {
  font-size: 2rem;
  font-weight: 700;
  color: #204c34;
}

.login-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}

.login-input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.3s;
}

.form-check-label {
  font-size: 0.9rem;
}

.btn-success {
  background: #059669;
  border: none;
  border-radius: 8px;
}

.btn-success:hover {
  background: #047857;
}


.login-form-btn{
  border-radius: 50px;
}

